.post {
  width: 100%;
  height: 100%;
}
.postWrapper {
  margin: 10px 5px;
  width: 85%;
  height: 100%;
  border: 1px solid rgb(184, 184, 184);
  background-color: white;
  border-radius: 2px;
}
.postTop {
  padding: 0px 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postTopLeft {
  display: flex;
  align-items: center;
}
.postTopLogo {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  object-fit: cover;
}
.postTopLeftCont {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
}
.postTopHeading {
  display: flex;
  align-items: center;
}
.postTopHeadingName {
  font-size: 16px;
  color: rgb(26, 26, 26);
  font-weight: 800;
  margin-right: 4px;
}
.postTopHeadingSubscribe {
  font-size: 14px;
  color: rgb(62, 124, 216);
}
.postTopPostedBy {
  display: flex;
  align-items: center;
  padding: 0px 5px 0px 0px;
}
.postedByName {
  font-size: 12px;
  color: gray;
  margin-right: 5px;
}
.postedByDate {
  font-size: 12px;
  color: gray;
}

.postTopRight {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.postTopRightMore {
  padding: 0px 5px;
  margin: 0px 5px;
}
.postTopRightMoreIcon {
  color: rgb(182, 182, 182);
}
.postTopRightCloseIcon {
  color: rgb(182, 182, 182);
}

.postMiddle {
  width: 100%px;
  height: 430px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.postMiddleDesc {
  font-size: 14px;
  font-weight: 500;
}
.postMiddleImg {
  width: 100%;
  height: 400px;
  display: flex;
  align-self: center;
  object-fit: contain;
}
.postMiddleBottom {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 2px;
}
.postMiddleBottomItem {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}
.postBottom {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
.postBottomVote {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  -webkit-border-radius: 40px/30px;
  -moz-border-radius: 40px/30px;
  border-radius: 40px/35px;
  margin-right: 10px;
  background-color: rgb(236, 236, 236);
}
.postBottomDownvote {
  margin-right: 5px;
  color: rgb(102, 102, 102);
}
.upvoteNumber {
  color: rgb(102, 102, 102);
}
.postBottomUpvote {
  margin-right: 5px;
  color: rgb(46, 128, 235);
}
.postBottomComment {
  margin-right: 10px;
}
.postBottomComment {
  margin-left: 5px;
}
.postBottomCommentIcon {
  color: rgb(102, 102, 102);
}
.postBottomRefresh {
  margin-left: 5px;
}
.postBottomRefreshIcon {
  color: rgb(102, 102, 102);
}
.postComments {
  background-color: rgb(231, 231, 231);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.postCommentIcon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
}
.commentInput {
  width: 60%;
  height: 15px;
  padding: 10px;
  -webkit-border-radius: 40px/30px;
  -moz-border-radius: 40px/30px;
  border-radius: 40px/35px;
  border: none;
}
.commentInput:focus {
  outline: none;
}
.commentButton {
  height: 27px;
  width: 100px;
  padding: 5px;
  margin: 5px;
  -webkit-border-radius: 40px/30px;
  -moz-border-radius: 40px/30px;
  border-radius: 40px/35px;
  border: none;
  background-color: rgb(38, 101, 238);
  color: white;
  font-size: 12px;
  font-weight: 600;
}
