.sidebar {
  flex: 2.5;
  height: calc(100vh - 45px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(187, 184, 184);
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.sidebarWrapper {
  display: flex;
  margin: 20px 0px;
  padding: 30px 0px;
}
.sidebarLink {
  margin: 10px;
  padding: 0px 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sidebarCreateButton {
  margin-top: 15px;
  margin-left: 100px;
  width: 130px;
  padding: 5px 10px 5px 1px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(236, 229, 229);
  background-color: #eee9e9;
  border-radius: 5px;
  font-size: 12px;
  text-align: start;
}
.sidebarCreateButton:hover {
  background-color: #e2dddd;
  cursor: pointer;
}
.sidebarLinks {
  margin: 0px 10px 0px 0px;
  margin-left: 90px;
  padding: 5px 10px 5px 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sidebarLinkItem {
  padding: 6px 8px;
  cursor: pointer;
}
.sidebarLinkItem:hover {
  background-color: #b1afaf;
}
.sidebarLinkItemInner {
  display: flex;
}
.sidebarLinkItemInner span {
  font-size: 14px;
  font-weight: 500;
  color: rgb(105, 102, 102);
}
.sidebarLinkItemLogo {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  object-fit: cover;
  padding: 0px 8px;
}
.sidebarHrDiv {
  width: 60%;
  margin-left: 100px;
  text-align: right;
}
.sidebarFooterLinks {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  list-style: none;
  padding: 5px;
  color: #afacac;
}
.sidebarFooterLinkItem {
  margin: 2px;
  padding: 2px;
  font-size: 14px;
}
