.header {
  width: 100%;
  display: flex;
  height: 45px;
  background-color: white;
  box-shadow: 0px 10px 5px -1px rgba(163, 144, 144, 1);
  -webkit-box-shadow: -2px 10px 5px -1px rgba(163, 144, 144, 1);
  -moz-box-shadow: -2px 10px 5px -1px rgba(163, 144, 144, 1);
  z-index: 999;
}
.leftMarginBar {
  flex: 1;
}
.rightMarginBar {
  flex: 1;
}
.headerLinks {
  width: 90%;
  flex: 10;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 15px;
}
.headerLink {
  display: flex;
  cursor: pointer;
}
.headerLinkIcons {
  display: flex;
}

.headerIconLink {
  display: flex;
  padding: 8px 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  cursor: pointer;
}

.headerIconLink:hover {
  background-color: rgb(241, 238, 238);
}
.headerIconLink.active {
  border-bottom: 3px solid #a62100;
}
.icon {
  width: 50px;
  height: 50px;
}
.headerLogo {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "McLaren", cursive;
  font-size: 24px;
  font-weight: 800;
  color: #a62100;
  cursor: pointer;
}

.headerSearchLink {
  width: 380px;
  max-width: 270px;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(224, 211, 211);
  padding: 2px;
  border-radius: 3px;
  transition: border 0.9 ease-in;
  cursor: pointer;
}
.headerSearchLink:hover {
  border: 1px solid rgb(67, 67, 236);
}

.searchIcon {
  font-size: 12px;
}
.searchInput {
  border: none;
  height: 28px;
  width: 100%;
}
.searchInput::placeholder {
  color: rgb(187, 186, 186);
  font-size: 11px;
}
.searchInput:focus {
  outline: none;
  max-width: 390px;
}
.headerRightLink {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
  padding: 0px 10px;
  cursor: pointer;
}
.headerRightLink:hover {
  background-color: rgb(241, 238, 238);
}
.tryQuoraButton {
  padding: 5px;
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: white;
  -webkit-border-radius: 40px/30px;
  -moz-border-radius: 40px/30px;
  border: 0.5px solid rgb(226, 217, 217);
  border-radius: 40px/35px;
  border-style: solid;
  font-size: 12px;
  font-weight: 700;
  color: gray;
  cursor: pointer;
}
.tryQuoraButton:hover {
  border-radius: 40px/35px;
  background: rgb(241, 238, 238);
}
.userLogo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}
.headerRightQuestionLink {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
  padding: 0px 10px;
  cursor: pointer;
}
.addQuestionButton {
  padding: 5px;
  padding-right: 2px;
  margin-right: 1px;
  width: 130px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a62100;
  color: white;
  -webkit-border-radius: 40px/30px;
  -moz-border-radius: 40px/30px;
  border-radius: 40px/30px;
  border: 0.5px solid rgb(226, 217, 217);
  font-size: 12px;
  cursor: pointer;
}

.addQuestionButton:hover {
  background-color: #831b01;
}
