.shareWrapper {
  padding: 5px;
  margin: 5px;
  width: 83%;
  height: 70px;
  border: 1px solid rgb(184, 184, 184);
  background-color: white;
  border-radius: 2px;
}
.shareTop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shareTopImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.shareTopInput {
  width: 100%;
  height: 25px;
  padding: 5px;
  margin: 5px;
  -webkit-border-radius: 40px/30px;
  -moz-border-radius: 40px/30px;
  border-radius: 40px/35px;
  border: 0.5px solid rgb(226, 217, 217);
  background: rgb(241, 238, 238);
  text-align: left;
  align-content: center;
  color: rgb(177, 175, 175);
}
.shareTopInput:hover {
  border-radius: 40px/35px;
  background: rgb(233, 233, 233);
}
.shareBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shareBottomButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: none;
  -webkit-border-radius: 40px/30px;
  -moz-border-radius: 40px/30px;
  border-radius: 40px/35px;
  padding: 0px 2px;
  margin: 2px;
  background-color: white;
  color: rgb(170, 170, 170);
  font-size: 12px;
  font-weight: 700;
}
.shareBottomButton:hover {
  background-color: rgb(236, 230, 230);
}
.shareButtonIcon {
  width: 18px;
  height: 18px;
  padding: 5px;
}
